doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Root Page
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheet/style.css', type='text/css')

  body
    .root
      h1 Weather Forecast ☁️

      .search-form
        form(action='/weather', method='get')
          input(type='text', name='q', placeholder='Country', required)
          button(type='submit', title='Search data') Get data

    script(src='', async, defer)
